@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');
/*font-family: 'Red Rose', cursive;*/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #000000;
	line-height: 1.2em;
}

header {
	font-family: 'Red Rose', cursive;
	font-size: 1.5em;
	text-align: center;
	background-color: #F5E9CE;
	padding: 0.025em;
}

#slogan {
	font-style: italic;
	font-size: 0.6em;
}

nav {
	color: #cccccc;
    background-color: #000000;
    background-size: cover;
    text-align: center;
    word-spacing: 5em;
}

main {
	color: #ffffff;
	text-align: center;
}

#search {
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 2.5em;
}

* {
	box-sizing: border-box;
}

form.browse input[type=text] {
	padding: 0.5em;
	font-size: 1em;
	border: 0.05em solid grey;
	width: 30%;
	background: #f1f1f1;
}

form.browse button {
	width: 6%;
	padding: 0.5em;
	background: #f1f1f1;
	color: grey;
	font-size: 1em;
	border: 0.05em solid grey;
	border-left: none;
	cursor: pointer;
}

#graded, #tobegraded, #raw {
	background-color: #000000;
	color: #cccccc;
	padding: 0.15em;
	text-align: center;
}

#psa {
	width: 100%;
}

#raw {
	float: left;
	width: 650px;
}

#graded {
	float: right;
	width: 650px;
}

#tobegraded {
	margin: 0 auto;
	width: 650px;
}

hr {
	width: 50px;
}

footer {
	font-family: 'Red Rose', cursive;
	font-style: italic;
	text-align: center;
	background-color: #F5E9CE;
	padding: 0.025em;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: white;
	font-weight: bold;
}

h2, h4 {
	font-family: 'Red Rose', cursive;
}

h2 {
	font-size: 2em;
}
h4 {
	font-size: 1.5em;
}




