@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');
/*font-family: 'Red Rose', cursive;*/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #000000;
	line-height: 2.25em;
}

header {
	font-family: 'Red Rose', cursive;
	font-size: 1.5em;
	text-align: center;
	background-color: #F5E9CE;
	padding: 0.025em;
}

#slogan {
	font-style: italic;
	font-size: 0.6em;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	color: #cccccc;
    background-color: #000000;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 5em;
    padding: 0.25em;
}

#mobile {
	display: none;
}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: white;
	font-weight: bold;
}

a:active {
	color: red;
}

main {
	color: #ffffff;
	text-align: center;
}

h2 {
	font-size: 2em;
}

#search {
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    padding: 2.5em;
}

* {
	box-sizing: border-box;
}

form.browse input[type=text] {
	padding: 0.5em;
	font-size: 1em;
	border: 0.05em solid grey;
	width: 30%;
	background: #f1f1f1;
}

form.browse button {
	padding: 0.5em;
	font-size: 1em;
	border: 0.05em solid grey;
	width: auto;
	background: #f1f1f1;
	color: grey;
	cursor: pointer;
}

.cardimage {
	background-color: #000000;
	color: #cccccc;
	padding: 0.3em 1em 2.5em 1em;
	text-align: center;
	width: 33.33%;
}

h4 {
	font-size: 1.5em;
}

h2, h4 {
	font-family: 'Red Rose', cursive;
}

.clearfix:after {
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
}
	
.cards {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 100%;
	background color: #000000;
}

hr {
	width: 50px;
}

footer {
	font-family: 'Red Rose', cursive;
	text-align: center;
	background-color: #F5E9CE;
	padding: 0.025em;
}

span {
	color: red;
}

span:hover {
	color: white;
}

img {
	height: 25em;
}

.carddescription {
	background-color: #000000;
	color: #cccccc;
	padding: 0.3em 1em 2.5em 1em;
	text-align: left;
	width: 33.33%;
}

table {
	width: 100%; 
}

th, td {
	background-color: #000000;
	color: #cccccc;
	width: 12.5%;
	text-align: left;
	padding: 0.5em;
}

th {
	color: #ffffff;
	font-size: 1.2em;
}

@media screen and (max-width: 1280px) {
	body {
		font-size: 18px;
	}
}

@media screen and (max-width: 1150px) {
	body {
		font-size: 16px;
	}
}

@media screen and (max-width: 1020px) {
	.cards {
		display: block;
	}

	.cardimage, .carddescription {
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 720px) {
	body > header > p {
		display: none;
	}

	nav {
		flex-direction: column;
	}

	nav a {
		display: none;
	}

	#mobile {
		display: block;
	}

	nav:hover a {
		display: block;
	}
}



