@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');
/*font-family: 'Red Rose', cursive;*/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #000000;
	line-height: 2.25em;
}

header {
	font-family: 'Red Rose', cursive;
	font-size: 1.5em;
	text-align: center;
	background-color: #F5E9CE;
	padding: 0.025em;
}

#slogan {
	font-style: italic;
	font-size: 0.6em;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	color: #cccccc;
    background-color: #000000;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 5em;
    padding: 0.25em;
}

#mobile {
	display: none;
}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: white;
	font-weight: bold;
}

a:active {
	color: red;
}

main {
	color: #ffffff;
	text-align: center;
}

h2 {
	font-size: 2em;
}

#search {
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    padding: 2.5em;
}

* {
	box-sizing: border-box;
}

form.browse input[type=text] {
	padding: 0.5em;
	font-size: 1em;
	border: 0.05em solid grey;
	width: 30%;
	background: #f1f1f1;
}

form.browse button {
	padding: 0.5em;
	font-size: 1em;
	border: 0.05em solid grey;
	width: auto;
	background: #f1f1f1;
	color: grey;
	cursor: pointer;
}

#graded, #tobegraded, #raw {
	background-color: #000000;
	color: #cccccc;
	padding: 0.3em 1em 2.5em 1em;
	text-align: center;
	width: 33.33%;
}

h4 {
	font-size: 1.5em;
}

h2, h4 {
	font-family: 'Red Rose', cursive;
}

.clearfix:after {
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
}

#psa, #football1, #football2, #football3, #football4, #football5, #football6, #football7, #basketball1, #basketball2, #basketball3, #basketball4, #pokemon1,
#devinbooker1d, #devinbooker2d, #traeyoung1d, #donovanmitchell1d, #jimmybutler1d, #jimmybutler2d, #jimmybutler3d, #jamalmurray1d, #deandreayton1d,
#deandreayton2d, #jamorant1d, #jamorant2d, #kylermurray1d, #kylermurray2d, #kylermurray3d, #lamarjackson1d, #lamarjackson2d, #lamarjackson3d,
#lamarjackson4d, #lamarjackson5d, #lamarjackson6d, #lamarjackson7d, #russellwilson1d, #russellwilson2d, #aaronrodgers1d, #drewbrees1d,
#drewbrees2d, #drewbrees3d, #camnewton1d, #camnewton2d, #camnewton3d, #deshaunwatson1d, #deshaunwatson2d {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 100%;
	background color: #000000;
}

hr {
	width: 50px;
}

footer {
	font-family: 'Red Rose', cursive;
	text-align: center;
	background-color: #F5E9CE;
	padding: 0.025em;
}

span {
	color: red;
}

span:hover {
	color: white;
}

img {
	height: 25em;
}

#kylermurray1, #kylermurray2, #kylermurray3, #lamarjackson1, #lamarjackson2, #lamarjackson3, #lamarjackson4,
#lamarjackson5, #lamarjackson6, #lamarjackson7, #russellwilson1, #russellwilson2, #aaronrodgers1, #drewbrees1,
#drewbrees2, #drewbrees3, #camnewton1, #camnewton2, #camnewton3, #deshaunwatson1, #deshaunwatson2, #devinbooker1,
#devinbooker2, #traeyoung1, #donovanmitchell1, #jimmybutler1, #jimmybutler2, #jimmybutler3, #jamalmurray1,
#deandreayton1, #deandreayton2, #jamorant1, #jamorant2, #bagon1, #billsteleporter1, #blainesdoduofirst1, #devinbooker1b, #devinbooker2b, #traeyoung1b, #traeyoung1c,
#donovanmitchell1b, #donovanmitchell1c, #jimmybutler1b, #jimmybutler1c, #jimmybutler2b, #jimmybutler2c,
#jimmybutler3b, #jimmybutler3c, #jamalmurray1b, #jamalmurray1c, #deandreayton1b, #deandreayton1c, #deandreayton2b,
#deandreayton2c, #jamorant1b, #jamorant1c, #jamorant2b, #jamorant2c, #kylermurray1b, #kylermurray1c, #kylermurray2b, #kylermurray2c,
#kylermurray3b, #kylermurray3c, #lamarjackson1b, #lamarjackson1c, #lamarjackson2b, #lamarjackson2c, #lamarjackson3b, #lamarjackson3c,
#lamarjackson4b, #lamarjackson4c, #lamarjackson5b, #lamarjackson5c, #lamarjackson6b, #lamarjackson6c, #lamarjackson7b, #lamarjackson7c,
#russellwilson1b, #russellwilson1c, #russellwilson2b, #russellwilson2c, #aaronrodgers1b, #aaronrodgers1c, #drewbrees1b, #drewbrees1c,
#drewbrees2b, #drewbrees2c, #drewbrees3b, #drewbrees3c, #camnewton1b, #camnewton1c, #camnewton2b, #camnewton2c, #camnewton3b,
#camnewton3c, #deshaunwatson1b, #deshaunwatson1c, #deshaunwatson2b, #deshaunwatson2c {
	background-color: #000000;
	color: #cccccc;
	padding: 0.3em 1em 2.5em 1em;
	text-align: center;
	width: 33.33%;
}

#devinbooker1c, #devinbooker2c, #traeyoung1c, #donovanmitchell1c, #jimmybutler1c, #jimmybutler2c, #jimmybutler3c, #jamalmurray1c,
#deandreayton1c, #deandreayton2c, #jamorant1c, #jamorant2c, #kylermurray1c, #kylermurray2c, #kylermurray3c, #lamarjackson1c, #lamarjackson2c,
#lamarjackson3c, #lamarjackson4c, #lamarjackson5c, #lamarjackson6c, #lamarjackson7c, #russellwilson1c, #russellwilson2c, #aaronrodgers1c, #drewbrees1c,
#drewbrees2c, #drewbrees3c, #camnewton1c, #camnewton2c, #camnewton3c, #deshaunwatson1c, #deshaunwatson2c {
	background-color: #000000;
	color: #cccccc;
	padding: 0.3em 1em 2.5em 1em;
	text-align: left;
	width: 33.33%;
}

@media screen and (max-width: 1280px) {
	body {
		font-size: 18px;
	}
}

@media screen and (max-width: 1150px) {
	body {
		font-size: 16px;
	}
}

@media screen and (max-width: 1020px) {
	#psa, #football1, #football2, #football3, #football4, #football5, #football6, #football7, #basketball1, #basketball2,
	#basketball3, #basketball4, #pokemon1, #devinbooker1d, #devinbooker2d, #traeyoung1d, #donovanmitchell1d, #jimmybutler1d,
	#jimmybutler2d, #jimmybutler3d, #jamalmurray1d, #deandreayton1d, #deandreayton2d, #jamorant1d, #jamorant2d, #kylermurray1d, #kylermurray2d,
	#kylermurray3d, #lamarjackson1d, #lamarjackson2d, #lamarjackson3d, #lamarjackson4d, #lamarjackson5d, #lamarjackson6d, #lamarjackson7d,
	#russellwilson1d, #russellwilson2d, #aaronrodgers1d, #drewbrees1d, #drewbrees2d, #drewbrees3d, #camnewton1d, #camnewton2d, #camnewton3d,
	#deshaunwatson1d, #deshaunwatson2d {
		display: block;
	}

	#graded, #tobegraded, #raw, #kylermurray1, #kylermurray2, #kylermurray3, #lamarjackson1, #lamarjackson2, #lamarjackson3,
	#lamarjackson4, #lamarjackson5, #lamarjackson6, #lamarjackson7, #russellwilson1, #russellwilson2, #aaronrodgers1, #drewbrees1,
	#drewbrees2, #drewbrees3, #camnewton1, #camnewton2, #camnewton3, #deshaunwatson1, #deshaunwatson2, #devinbooker1,
	#devinbooker2, #traeyoung1, #donovanmitchell1, #jimmybutler1, #jimmybutler2, #jimmybutler3, #jamalmurray1,
	#deandreayton1, #deandreayton2, #jamorant1, #jamorant2, #bagon1, #billsteleporter1, #blainesdoduofirst1, #devinbooker1b, #devinbooker1c, #devinbooker2b, #devinbooker2c,
	#traeyoung1b, #traeyoung1c, #donovanmitchell1b, #donovanmitchell1c, #jimmybutler1b, #jimmybutler1c, #jimmybutler2b, #jimmybutler2c,
	#jimmybutler3b, #jimmybutler3c, #jamalmurray1b, #jamalmurray1c, #deandreayton1b, #deandreayton1c, #deandreayton2b, #deandreayton2c,
	#jamorant1b, #jamorant1c, #jamorant2b, #jamorant2c, #kylermurray1b, #kylermurray1c, #kylermurray2b, #kylermurray2c,
	#kylermurray3b, #kylermurray3c, #lamarjackson1b, #lamarjackson1c, #lamarjackson2b, #lamarjackson2c, #lamarjackson3b, #lamarjackson3c,
	#lamarjackson4b, #lamarjackson4c, #lamarjackson5b, #lamarjackson5c, #lamarjackson6b, #lamarjackson6c, #lamarjackson7b, #lamarjackson7c,
	#russellwilson1b, #russellwilson1c, #russellwilson2b, #russellwilson2c, #aaronrodgers1b, #aaronrodgers1c, #drewbrees1b, #drewbrees1c,
	#drewbrees2b, #drewbrees2c, #drewbrees3b, #drewbrees3c, #camnewton1b, #camnewton1c, #camnewton2b, #camnewton2c, #camnewton3b,
	#camnewton3c, #deshaunwatson1b, #deshaunwatson1c, #deshaunwatson2b, #deshaunwatson2c {
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 720px) {
	body > header > p {
		display: none;
	}

	nav {
		flex-direction: column;
	}

	nav a {
		display: none;
	}

	#mobile {
		display: block;
	}

	nav:hover a {
		display: block;
	}
}



